<a href="https://colab.research.google.com/github/harikaa2021/batch30/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
ln_value = 16.01273514  # A sample natural logarithm value
original_value = np.exp(ln_value)

print("Original value:", original_value)

Original value: 9000000.04229556

In [3]:
import pandas as pd

# Data provided
people = ['Kiran', 'Arun', 'Vijay', 'Varun']
age = [25, 30, 35, 40]
height = [145, 151, 165, 173]  # in cm
weight = [45, 55, 65, 75]      # in kg

# Creating a DataFrame
health_data = pd.DataFrame({
    'Name': people,
    'Age': age,
    'Height(cm)': height,
    'Weight(kg)': weight
})

# Display the dataset
print(health_data)

    Name  Age  Height(cm)  Weight(kg)
0  Kiran   25         145          45
1   Arun   30         151          55
2  Vijay   35         165          65
3  Varun   40         173          75