<a href="https://colab.research.google.com/github/harikaa2021/batch30/blob/main/type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [6]:
x = "Hello World"


print(x)

print(type(x))
x1 = 20

print(x1)

print(type(x1))
x3 = {"name" : "John", "age" : 36}

print(x3)


print(type(x3))

Hello World
<class 'str'>
20
<class 'int'>
{'name': 'John', 'age': 36}
<class 'dict'>